<div class="row">
    <div class="col-md-4">
      <a href="#" class="thumbnail">
         <img data-src="holder.js/110x65" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
         <img data-src="holder.js/110x65" alt="...">
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="thumbnail">
         <img data-src="holder.js/110x65" alt="...">
      </a>
    </div>

</div>

		<form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
			<div class="share">

				<div class="panel panel-default">
                      <div class="panel-heading"><i class="fa fa-file"></i> Update Status</div>
                      <div class="panel-body">
                        <div class="">
                            <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's happen on map ?"></textarea>
						</div>
                      </div>
						<div class="panel-footer">
								<div class="row">
									<div class="col-md-9">
										<div class="form-group">
											<div class="btn-group">
											  <button type="button" class="btn btn-default"><i class="fa fa-map-marker"></i> </button>
											  <button type="button" class="btn btn-default"><i class="fa fa-photo"></i> </button>
											</div>
											<select name="privacy" class="form-control privacy-dropdown pull-left input-sm">
												<option value="1" selected="selected">Public</option>
												<option value="2">Only my friends</option>
												<option value="3">Only me</option>
											</select>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">

											<input type="submit" name="submit" value="Post" class="btn btn-primary">
										</div>
									</div>
								</div>
						</div>
                    </div>
			</div>
			</div>
		</form>
